
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.exe
