
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.exe
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/bin/Debug/Nekl_proj.pdb
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Nekl_proj/obj/Debug/Nekl_proj.csproj.GenerateResource.cache
Nekl_proj/obj/Debug/Nekl_proj.exe
Nekl_proj/obj/Debug/Nekl_proj.pdb
.vs/Nekl_proj/v15/.suo
.vs/Nekl_proj/v15/Server/sqlite3/storage.ide
.vs/Nekl_proj/v15/Server/sqlite3/storage.ide-shm
.vs/Nekl_proj/v15/Server/sqlite3/storage.ide-wal
Nekl_proj/obj/Debug/Nekl_proj.csproj.CoreCompileInputs.cache
.vs/Nekl_proj/v15/.suo
.vs/Nekl_proj/v15/Server/sqlite3/storage.ide
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/bin/Debug/Nekl_proj.pdb
Nekl_proj/obj/Debug/Nekl_proj.csproj.CoreCompileInputs.cache
Nekl_proj/obj/Debug/Nekl_proj.csproj.GenerateResource.cache
Nekl_proj/obj/Debug/Nekl_proj.exe
Nekl_proj/obj/Debug/Nekl_proj.pdb
