
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.exe
Nekl_proj/bin/Debug/Nekl_proj.exe
Nekl_proj/bin/Debug/Nekl_proj.pdb
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Nekl_proj/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Nekl_proj/obj/Debug/Nekl_proj.csproj.GenerateResource.cache
Nekl_proj/obj/Debug/Nekl_proj.exe
Nekl_proj/obj/Debug/Nekl_proj.pdb
